/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/tags
/old
/app/tmp/data/players
/app/tmp/data/villages
/app/tmp/cache/persistent
/app/tmp/cache/models
/app/tmp/cache/views
